@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.top-bar {
    height: 69px;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.title {
    color: #FFFFFF;
    font-size: 37px;
    font-weight: bold;  
    line-height: 43px;
    text-align: center;
    padding-top: 13px;
}

.none-quiz {
    width: 1051px;
    height: 181px;
    margin: 146px auto 112px auto;
    border: 1px dashed #D4D4D4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.none-quiz p {
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.create-quiz {
    width: 136px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
    margin-bottom: 33px;
    background-color: #fafafa;
}

.your-quizzes {
    width: 1081px;
    margin: 179px auto 83px auto;
}

span ion-icon {
    font-size: 31px;
    color: #EC362D;
    position: absolute;
    left: 128px;
    top: -39px;
}


.all-quizzes {
    width: 1081px;
    margin: 0 auto;
}

.quizzes-list {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.option {
    position: relative;
    width: 340px;
    height: 181px;
    margin-right: 15px;
    margin-bottom: 12px;
}

.image-quiz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
}

.image-quiz-box {
    width: 340px;
    height: 181px;
    background-image: linear-gradient( to bottom, transparent, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
    top: 0;
}

h2 {
    width: 158px;
    height: 23px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    line-height: 23px;
    position: absolute;
    top: -35px;
}

p {
    overflow-wrap: break-word;
}


.option p {
    width: 301px;
    height: 54px; 
    font-size: 19px;
    color: #FFFFFF;
    line-height: 22px;
    position: absolute;
    bottom: 7px;
    margin-left: 18px;
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

.main-content-quizz {
    width: 100%;
    margin-top: 69px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-banner {
    height: 227px;
    width: 100%;
    background-color: #D4D4D4;
    position: relative;
    z-index: -1;
}

.top-banner > img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-banner > .quizz-title {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    font-size: 39px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
}

.boxes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question, .result {
    width: 20cm;
    margin-top: 42px;
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.question > p {
    height: 120px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #FFFFFF;
    margin-left: 12px;
    margin-right: 12px;
}

.question > .alternatives-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}   

.alternative {
    width: 50%;
    padding: 12px;
}

.alternative.unselected {
    opacity: 0.3;
}

.alternative.wrong > p {
    color: #FF4B4B;
}

.alternative.correct > p{
    color: #009C22;
}

.alternative > img {
    width: 100%;
    height: calc((10cm - 24px)/1.9);
}

.alternative > p {
    padding-top: 5px;
    padding-bottom: -2px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

.result > p {
    height: 95px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: #FFFFFF;
    margin-left: 12px;
    margin-right: 12px;
}

.result-description-container {
    display: flex;
    padding: 12px;
}

.result-description-container > p {
    width: 50%;
    margin-left: 18px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    color: #484848;
}

.result-description-container > img {
    width: 50%;
    height: calc((10cm - 24px)/1.33);
}

.restart-quizz {
    width: 260px;
    height: 52px;
    margin-top: 23px;
    background-color: #EC362D;
    border-width: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #FFF5F4;
}

.home {
    width: 219px;
    height: 44px;
    margin-top: 26px;
    margin-bottom: 85px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #818181;
    border: none;
    background-color: #FAFAFA;
}




/*para a tela 3 */

.header-to-start{
    font-weight: bold;
    margin-top: 140px;
    margin-bottom: 27px;
    font-size: 23px;
    width: 224px;
    height: 27px;
}

.initial-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.initial-form {
    width: 600px;
    height: 256px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}

.initial-form input {
    width: 564px;
    height: 46px;
    margin-bottom: 9px;
    padding-left: 23px;
    border: 1px solid #D1D1D1;
}

.follow-to-create {
    border: none;
    background-color: #EC362D;
    width: 367.72px;
    height: 54px;
    border-radius: 15px;
    color: #FFF5F4;
}

.create-your-questions {
    margin-top: 132px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 36px;
}

.create-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta p {
    margin-left: 17px;
    margin-top: 27px;
    font-weight: bold;
}

.pergunta {
    width: 600px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
} 

.pergunta input {
    width: 564px;
    height: 46px;
    margin-left: 16px;
    border: 1px solid #D1D1D1;
    padding-left: 23.16px;
}

.pergunta-fechada {
    width: 601px;
    height: 74px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.pergunta-fechada span {
    margin-left: 17px;
    margin-top: 27px;
    margin-bottom: 25px;
    font-weight: bold;
}

.definindo-pergunta {
    margin-top: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.resposta-correta {
    margin-top: 24px;
}

.resposta-incorreta {
    margin-top: 14px;
}
.pergunta-fechada ion-icon {
    font-size: 25px;
    margin-right: 20px;
}

.resposta-incorreta li:nth-child(2n) {
    margin-bottom: 32px;
}

.resposta-incorreta li:last-child {
    margin-bottom: 24px;
}

.resposta-incorreta li:nth-child(2n + 1) {
    margin-bottom: 14px;
}

.resposta-correta li:nth-child(2n) {
    margin-bottom: 28px;
}

.resposta-correta li:nth-child(2n + 1) {
    margin-bottom: 14px;
}

.definindo-pergunta li:nth-child(2n) {
    margin-bottom: 28px;
}

.definindo-pergunta li:nth-child(2n + 1) {
    margin-bottom: 14px;
}

.definindo-nivel {
    margin-top: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.level {
    width: 600px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
}

.levels-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels-box input {
    width: 564px;
    height: 46px;
    margin-left: 16px;
    padding-left: 23.16px;
    margin-bottom: 14px;
    border: 1px solid #D1D1D1;
}

.create-your-levels {
    margin-top: 132px;
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 36px;
}

.level p {
    margin-left: 17px;
    margin-top: 27px;
    font-weight: bold;
}

.follow-create-levels {
    width: 352.82px;
    height: 54px;
    margin-top: 59px;
    margin-bottom: 15px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    font-size: 21px;
}

.button-finish-quizz {
    width: 324px;
    height: 54px;
    margin-top: 53px;
    margin-bottom: 15px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    font-size: 21px;
}


.quizz-done-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
}

.quizz-done {
    position: relative;
    width: 500px;
    height: 266px;
    background-color: red;
}


.your-quizz-done {
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 36px;
}

.image-quiz-done {
    width: 500px;
    height: 266px;
    border-radius: 5px;
}

.image-quiz-done-box {
    width: 500px;
    height: 266px;
    border-radius: 5px;
    background-image: linear-gradient( to bottom, transparent, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
    top: 0;
}

.quizz-done p {
    width: 301px;
    height: 54px; 
    font-size: 19px;
    color: #FFFFFF;
    line-height: 22px;
    position: absolute;
    bottom: 7px;
    margin-left: 18px;
    display: flex;
    align-items: center;
}

.access-quizz {
    width: 220.32px;
    height: 44px;
    margin-top: 45px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    color: #FFF5F4;
    font-size: 21px;
}

.go-to-home {
    width: 220.32px;
    height: 44px;
    border: none;
    color: #818181;
    margin-top: 9px;
    font-size: 21px;
    background-color: #fafafa;
}









@media (max-width: 1100px) {
    .top-bar, .all-quizzes, .your-quizzes, .quizzes-list, .first-screen, .main-content-quizz, .main-content-create-quizzes, .inicio {
        width: 100vw;
    }

    .quizzes-list {
        justify-content: center;
    }

    .none-quiz {
        width: 90.67vw;
        margin-top: 100px;
        margin-bottom: 70px;
    } 
    
    span ion-icon {
        left: 309px;
    }

    .your-quizzes {
        margin-top: 144px;
        margin-bottom: 75px;
    }

    .question, .result {
        width: min(100%, 20cm);
        margin-top: 24px;
        margin-bottom: 4px;
        padding: 13px;
    }

    .top-banner > .quizz-title {
        font-size: 19px;
    }

    .top-banner {
        height: 130px;
    }

    .question > p {
        height: 89px;
        font-size: 19px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .alternative {
        padding: 6px;
    }

    .alternative > img {
        width: 100%;
        height: calc((50vw - 13px)/1.45);
    }

    .alternative > p {
        padding-top: 5px;
        padding-bottom: -2px;
        font-size: 13px;
    }

    .result > p {
        font-size: 19px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .result-description-container {
        flex-direction: column;
        padding: 6px;
    }

    .result-description-container > img {
        width: 100%;
        height: calc((100vw - 12px)/1.33);
    }
    
    .result-description-container > p {
        width: 100%;
        font-size: 17px;
        margin-top: 9px;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        color: #484848;
    }

    .restart-quizz {
        width: 220px;
        height: 44px;
        font-size: 18px;
    }
    
    .home {
        width: 220px;
        height: 44px;
        margin-top: 8px;
        margin-bottom: 66px;
        font-size: 18px;
    }
}